<?xml version="1.0"?>

<launch>
<param name="/use_sim_time" value="true" />
    <arg name="robot_name"/>
    <arg name="init_pose"/>
<!--  
<node name="spawn_roboter" pkg="gazebo" type="spawn_model" args="-z 0.3 -pause -urdf -param robot_description -model volksbot -robot_namespace robot" respawn="false" output="screen"/>
-->
    
    <node name="spawn_minibot_model" pkg="gazebo" type="spawn_model"
     args="$(arg init_pose) -pause -urdf -param /robot_description -model $(arg robot_name)"
     respawn="false" output="screen" />
    
    <!--
	<arg name="gui" default="False" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<param name="robot_description" type="string" value="/robot_description/"></param>
		<param name="rate" type="double" value="1000.0" />
		<param name="use_gui" value="$(arg gui)"/>
	</node>-->
	

	<node pkg="robot_state_publisher" type="state_publisher" 
          name="robot_state_publisher" output="screen"/>
		<param name="tf_prefix" type="string" value="$(arg robot_name)"/>

    
   <!-- 
	
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="robot_joint_state_publisher" 
		param name="rate" type="double" value="1000.0" 
		param name="use_gui" value="$(arg gui)"/>
	-->
    
	<!--
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" type="string" value="robot" />
	</node>
    -->

    <!-- The odometry estimator, throttling, fake laser etc. go here -->
    <!-- All the stuff as from usual robot launch file -->
</launch>