<?xml version="1.0"?>

<launch>
<param name="/use_sim_time" value="true" />

<group ns="robot2">
 <param name="robot_description" command="$(find xacro)/xacro.py '$(find volksbot_new)/urdf/volksbot2013.urdf.xacro'" />
  <node name="spawn_roboter2" pkg="gazebo" type="spawn_model" args="-z 0.3 -x 2 -pause -urdf -param robot_description -model volksbot2 -robot_namespace robot2" respawn="false" output="screen"/>
  
	<arg name="gui" default="False" />
	<node name="joint_state_publisher2" pkg="joint_state_publisher" type="joint_state_publisher" >
		<param name="rate" type="double" value="1000.0" />
		<param name="use_gui" value="$(arg gui)"/>
	</node>

	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher2" output="screen" >
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" type="string" value="robot2" />
	</node>
</group>

</launch>