<?xml version="1.0"?>

<launch>
<param name="/use_sim_time" value="true" />

<group ns="robot">
 <param name="robot_description" command="$(find xacro)/xacro.py '$(find volksbot_new)/urdf/volksbot2013.urdf.xacro'" />
  <node name="spawn_roboter" pkg="gazebo" type="spawn_model" args="-z 0.3 -pause -urdf -param robot_description -model volksbot -robot_namespace robot" respawn="false" output="screen"/>
  
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" type="string" value="robot" />
	</node>
</group>

</launch>

